<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title> hello </title>
        <link rel='stylesheet', type='text/css', href='static/style.css'>
    </head>
    <body>
        <h1> hello, tovarishch </h1>
        <div class='container'>
            <div id='game'>
                <button id='show-map'>
                    show map
                </button>
                <button id='show-log'>
                    show log
                </button>
                <button id='show-market'>
                    show market
                </button>
                <br>
                <canvas id='game-field' width=400 height=400>
                </canvas>
                <div id='game-log'>
                </div>
                <div id='market'>
                </div>
            </div>
            <div id='status'>
                <h2> status </h2>
                <div id='char-info'></div>
            </div>
            <div id='users-list'>
                <h2> users online </h2>
                <ul id='users'>
                </ul>
            </div>
            <div id='actions'>
                <button id='attack-button'> attack </button>
            </div>
        </div>
        <div id='login-frame'>
            <form action=''>
                <p> 
                    <label for='login'> login </label>
                    <input id='login-l'>
                </p>
                <p> 
                    <label for='password'> password </label>
                    <input id='password-l'>
                </p>
                <p>
                    <input type='submit', name='login_button', value='login'>
                </p>
            </form>
        </div>
        <div id='reg-frame'>
            <form action=''>
                <p> 
                    <label for='login'> login </label>
                    <input id='login-r'>
                </p>
                <p> 
                    <label for='password'> password </label>
                    <input id='password-r'>
                </p>
                <p>
                    <input type='submit', name='reg_button', value='register'>
                </p>
            </form>
        </div>
        <script src='/socket.io/socket.io.js'></script>
        <script src='https://code.jquery.com/jquery-1.11.1.js'></script>
        <script src='/static/main.js'></script>
    </body>
</html>