<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <title> Path of Pepe the Frog </title>
        <link rel='stylesheet', type='text/css', href='static/style.css'>
    </head>
    <body>
        <canvas id='char-image' width=400 height=400>
        </canvas>
        <canvas id='tmp-canvas' width=400 height=400>
        </canvas>
        <br>
        <canvas id='battle-canvas' width=800 height=500>
        </canvas>
        <canvas id='battle-canvas-tmp' width=800 height=500>
        </canvas>
        <div id='navigation-buttons'>
            <button id='show-map'>
                show map
            </button>
            <button id='show-log'>
                show log
            </button>
            <button id='show-market'>
                show market
            </button>
            <button id='show-skill-tree'>
                show skills
            </button>
            <button id='show-tactic'>
                show tactic
            </button>
        </div>
        <div class='container'>
            <div id='game'>
                <br>
                <canvas id='game-field' width=400 height=400>
                </canvas>
                <div id='game-log'>
                </div>
                <div id='market'>
                </div>
                <div id='skill-tree'>
                </div>
                <div id='tactic'>
                </div>
            </div>
            <div id='status'>
                <h2> status </h2>
                <div id='char-info'></div>
            </div>
            <div id='users-list-container'>
                <h2> users online </h2>
                <ul id='users-list'>
                </ul>
            </div>
            <div id='actions'>
                <button id='attack-button'> attack </button>
                <div id='market-actions'>
                    <button id='show-buy-form'>
                        buy
                    </button>
                    <button id='show-sell-form'>
                        sell
                    </button>
                    <br>
                    <div id='buy-form-con'>
                        <form action=''>
                            <p>
                                <label for='buy-tag-select'> tag </label>
                                <select id='buy-tag-select'>
                                </select>
                            </p>
                            <p>
                                <label for='buy-amount'> amount </label>
                                <input id='buy-amount'>
                            </p>
                            <p>
                                <label for='buy-money'> money </label>
                                <input id='buy-money'>
                            </p>
                            <p>
                                <label for='buy-max-price'> max price </label>
                                <input id='buy-max-price'>
                            </p>
                            <p>
                                <input type='submit', name='buy', value='buy'>
                            </p>
                        </form>
                    </div>
                    <div id='sell-form-con'>
                        <form action=''>
                            <p>
                                <label for='sell-tag-select'> tag </label>
                                <select id='sell-tag-select'>
                                </select>
                            </p>
                            <p>
                                <label for='sell-amount'> amount </label>
                                <input id='sell-amount'>
                            </p>
                            <p>
                                <label for='sell-price'> price </label>
                                <input id='sell-price'>
                            </p>
                            <p>
                                <input type='submit', name='sell', value='sell'>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id='send-message-frame'>
            <form action=''>
                <p> 
                    <input id='message'>
                </p>
                <p>
                    <input type='submit', name='send_message_button', value='new_message'>
                </p>
            </form>
        </div>
        <div id='login-frame'>
            <form action=''>
                <p> 
                    <label for='login'> login </label>
                    <input id='login-l'>
                </p>
                <p> 
                    <label for='password'> password </label>
                    <input id='password-l'>
                </p>
                <p>
                    <input type='submit', name='login_button', value='login'>
                </p>
            </form>
        </div>
        <div id='reg-frame'>
            <form action=''>
                <p> 
                    <label for='login'> login </label>
                    <input id='login-r'>
                </p>
                <p> 
                    <label for='password'> password </label>
                    <input id='password-r'>
                </p>
                <p>
                    <input type='submit', name='reg_button', value='register'>
                </p>
            </form>
        </div>
        
    </body>
</html>