<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Path of :dishu:</title>
    <link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

    <div id="game_container">
        <button id='char_image_button'>
            switch_char_image
        </button>

        <div id = "wire_frame">
            <div id = "game_frame">
                <div id = "tutorial", class="game_tab">
                    <div id = "portrait">
                        ???
                    </div>
                    <div id = "tutorial_info_1", class="tutorial_info">
                        Welcome to my island. </br>
                        <div id = "tutorial_status", class = "tutorial_hover">Column at the left side</div> is your current status. </br>
                        You can hover elements and check what they mean </br>
                        <div id = "tutorial_buttons", class = "tutorial_hover">Buttons on the left</div> are tabs where you can take different actions. </br>
                        Check them yourself </br>
                        I will tell you more at some point. </br>
                        Maybe </br>
                    </div>
                </div>

                <div id = 'tactics_tab', class="game_tab">
                    <div id = 'tactic'> </div>
                </div>



            </div>

        </div>

    </div>

</body>
</html>