<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Path of :dishu:</title>
    <link rel="stylesheet" type="text/css" href="static/styles/reset.css">

    <link rel="stylesheet" type="text/css" href="static/styles/tooltip.css">
    <link rel="stylesheet" type="text/css" href="static/styles/bars.css">

    <link rel="stylesheet" type="text/css" href="static/styles/style2.css">

    <link rel="stylesheet" type="text/css" href="static/styles/character_creation.css">
    <link rel="stylesheet" type="text/css" href="static/styles/status_frame_style.css">
    <link rel="stylesheet" type="text/css" href="static/styles/tab_list.css">
    <link rel="stylesheet" type="text/css" href="static/styles/messages.css">
    <link rel="stylesheet" type="text/css" href="static/styles/map.css">
    <link rel="stylesheet" type="text/css" href="static/styles/skills.css">
</head>
<body>

    <div id="bg_fade"></div>

    <button id='logout'>
        logout
    </button>

    <div id="base_background"></div>

    <div id="game_container">
        <div id = "login_scene" class="game_scene">
            <div id="login_container">
                <div id="select_box">
                    <div id="open_login_window_button" class="selected">Login</div>
                    <div id="open_reg_window_button" >Registration</div>
                </div>
                <div id='login-frame'>
                    <form action=''>
                        <p><input id='login-l' placeholder="Login"></p>
                        <p><input id='password-l' placeholder="Password"></p>
                        <p><input type='submit', name='login_button', value='login'></p>
                    </form>
                </div>
                <div id='reg-frame'>
                    <form action=''>
                        <p><input id='login-r' placeholder="Login"></p>
                        <p><input id='password-r' placeholder="Password"></p>
                        <p><input type='submit', name='reg_button', value='register'></p>
                    </form>
                </div>
            </div>
        </div>

        <div id = "character_creation" class="game_scene">
            <div class="character_image_col">
                <div id="character_image_body" class="character_image"></div>
                <div id="character_image_eyes" class="character_image"></div>
                <div id="character_image_chin" class="character_image"></div>
                <div id="character_image_mouth" class="character_image"></div>
            </div>
            <div class="character_stats">
                <div id="page_1" class="page">
                    <div>YOUR NAME</div>
                    <div><input id='char_name' placeholder="name"></div>
                    <div class="appearance">
                        <div>
                            <p>eyes</p>
                            <div> 
                                <button id="eyes_0" class="next">0</button>
                                <button id="eyes_1" class="next">1</button>
                                <button id="eyes_2" class="next">2</button>
                            </div>
                        </div>
                        <div>
                            <p>chin</p>
                            <div>
                                <button id="chin_0" class="next">0</button>
                                <button id="chin_1" class="next">1</button>
                                <button id="chin_2" class="next">2</button>
                            </div>
                        </div>
                        <div>
                            <p>mouth</p>
                            <div>
                                <button id="mouth_0" class="next">0</button>
                                <button id="mouth_1" class="next">1</button>
                                <button id="mouth_2" class="next">2</button>
                            </div>    
                        </div>
                    </div>
                    <button id="next_1" class="next">Next</button>
                </div>
                <div id="page_2" class="page">
                    <div>TRAITS</div>
                    <button id="next_2" class="next">Next</button>
                </div>
            </div>
        </div>
        <div id="actual_game_scene" class="game_scene">
            <div id="status_frame" class="game_frame">
                <div id= "status_label">Status</div>
                <div id = "name_row"> 
                    <div id = "name"> </div> 
                    <div id = "level" class = "tooltip"> lvl: <div id = "level_data"></div><span class="tooltiptext">with levels you gain additional skillpoints that you can spend on acquiring new skills</span></div>
                </div>

                <div id = "bars_row">
                    <div id = "hp_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                            hp determine how bad your physical conditions are.<br>
                            at 0 you are dead and will be given a new character
                        </span>
                        <div id = "hp_column_label" class = "bar_label">hp</div>
                        <div id = "hp_bar" class = "bar_vertical">
                            <div class = "bar"><span id="hp_value_display"></span></div>
                        </div>
                        <div id = "hp_data" class = "bar_data"></div>
                    </div>
                    <div id = "rage_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        when you are figthing with enemy in melee your level of rage is rising and it lowers your accuracy.<br>
                        you can mitigate effects of rage or even make it useful via acquiring skills
                        </span>
                        <div id = "rage_column_label" class = "bar_label">rage</div>
                        <div id = "rage_bar" class = "bar_vertical">
                            <div class = "bar"><span id="rage_value_display"></span></div>
                        </div>
                        <div id = "rage_data" class = "bar_data"></div>
                    </div>
                    <div id = "blood_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        blood is a measure of how much of your body is covered by blood.<br>
                        usually it just harms your movement and accuracy but some skills can make you wish to cover yourself in it completely</span>
                        <div id = "blood_column_label" class = "bar_label">blood</div>
                        <div id = "blood_bar" class = "bar_vertical">
                            <div class = "bar"><span id="blood_value_display"></span></div>
                        </div>
                        <div id = "blood_data" class = "bar_data"></div>
                    </div>
                    <div id = "stress_column" class = "bar_column tooltip">
                        <span class="tooltiptext">stress value measures how much you want to die.<br>
                         it rises when you are fighting, crafting, etc. at 100 you will pass away.<br>
                          be careful, there are actions that without corresponding skills will stress you to death even if you was okay initially</span>
                        <div id = "stress_column_label" class = "bar_label">stress</div>
                        <div id = "stress_bar" class = "bar_vertical">
                            <div class = "bar"><span id="stress_value_display"></span></div>
                        </div>
                        <div id = "stress_data" class = "bar_data"></div>
                    </div>
                </div>

                <div id = "skill_points" class="tooltip">
                    <span class="tooltiptext">spend them on developing skills</span>
                    available skill points: <div id="skill_points_data"></div>
                </div>

                <div id = "exp_row" class="tooltip">
                    <span class="tooltiptext">progress on gaining new level</span>
                    <div id="exp_label">exp: </div>
                    <div id="exp_bar" class = "hbar"><span id="exp_value_display"></span></div>
                    <div>
                        <div id="exp_current" style="display: inline"></div>/<div id="exp_required" style="display: inline"></div>
                    </div>                    
                </div>

                <div id = "savings" class="tooltip">
                    <span class="tooltiptext">used for interaction with market and item market</span>
                    <div id="savings_label">savings: </div>
                    <div id="savings_data"></div>
                </div>
            </div>

            <div id="messages_frame" class="game_frame">
                <div class="container">
                    <div class="header">
                        <div id="open_chat_button" class="selected">chat</div>
                        <div id="open_log_button" >logs</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                    </div>
                    <div id='log' class="messages_display">
                    </div>
                    <div id="chat" class="messages_display">
                    </div>
                    <div id='send_message_frame'>
                        <input id='message_field', type="text", placeholder='New message'>
                        <input type='submit', id='send_message_button', value= 'Send' >
                    </div>
                </div>
            </div>

            <div id="tab_list_frame" class="game_frame">
                <div id = "battle_button", class = 'control_button tooltip'><span class="tooltiptext">Attack</span></div>
                <div id = "market_button", class = 'control_button tooltip'><span class="tooltiptext">Market</span></div>
                <!-- <div id = "tactics_button", class = 'control_button tooltip'><span class="tooltiptext">Tactics</span></div> -->
                <div id = "skilltree_button", class = 'control_button tooltip'><span class="tooltiptext">Skills</span></div>
                <div id = "map_button", class = 'control_button tooltip'><span class="tooltiptext">Map</span></div>
                <div id = "character_screen_button", class = 'control_button tooltip'><span class="tooltiptext">Character screen</span></div>
            </div>

            <div id = 'map_tab', class = "game_tab hidden movable">
                <div id = 'map_column'>
                    <canvas id='map' width=800 height=800 oncontextmenu="return false;"></canvas>
                </div>
                <div id = 'description_column'> 
                    <div id='local_description'></div>
                    <div id='map_control'></div>
                </div> 
                <div class="corner top"></div>
                <div class="corner bottom"></div>
            </div>

            <div id = 'battle_tab', class="game_tab hidden movable">
                <div id = 'battle_control'>
                    <div id='attack'>
                        Hunt.
                    </div>
                    <div id='attack_outpost'>
                        Search.
                    </div>
                    <div id='battle_action'>
                        Battle action.
                    </div>

                    <div id='battle_use_skill'>
                        Use skill.
                    </div>

                    <select id='battle_select_skill'>
                    </select>
                </div>
                

                <div id='enemy_status'>
                </div>
                <canvas id='battle_canvas' width=800 height=500, class="_battle_canvas"></canvas>
                <canvas id='battle_canvas_background' width=800 height=500, class="_battle_canvas"></canvas>
                <div class="corner top"></div>
                <div class="corner bottom"></div>
            </div>

            
            <div id = 'skilltree_tab', class="game_tab hidden movable">
                <div id = 'skills'> 
                    <div id = 'skills_header'>
                        <div id = 'learned_skills_tab' class="skills_tab">
                            Learned skills
                        </div>
                        <div id = 'local_skills_tab' class="skills_tab">
                            Local skill trainers
                        </div>
                    </div>
                    <div id = 'skills_body'>
                        <div id = 'learned_skills' class = 'skills_list'>
                            
                        </div>

                        <div id = 'local_skills' class = 'skills_list hidden'>
                        </div>

                        <div id = 'skills_description'>
                        </div>
                    </div>                    
                </div>
                <div class="corner top"></div>
                <div class="corner bottom"></div>
            </div>

            <div id = 'market_tab', class="game_tab hidden movable">
                <div id = 'market'> 
                    <div class="header">
                        <div id="open_market" class="selected">Common goods</div>
                        <div id="open_auction">Equipment</div>
                    </div>
                    <div class="market_body">
                        <div class="goods_market">
                            <div class="goods_list">
                                <div class="goods_type">
                                    <div class="goods_icon"></div>
                                    <div class="goods_name">Tag</div>
                                    <div class="goods_avg_buy_price">Average buy price</div>
                                    <div class="goods_avg_sell_price">Average sell price</div>
                                </div>
                            </div>
                            <div class="market_control">
                                <div class="header">Market control.</div>
                                <div class="description">Description</div>

                                <div class="buy_panel control_panel">
                                    <div class="textnumber">
                                        <div>Available on market</div>
                                        <div id="supply">0</div>
                                    </div>
                                    <div id="buy_amount" class="trade_amount">
                                        <div class="plus">+1</div>
                                        <div class="current">0</div>
                                        <div class="minus">-1</div>
                                        <div class="reset">Reset</div>
                                    </div>
                                    <div class="textnumber">
                                        <div>Estimated cost.</div>
                                        <div id="buy_cost"> 0</div>
                                    </div>
                                    <div id="confirm_buy" class="button">Confirm trade</div>
                                </div>

                                <div class="sell_panel control_panel">
                                    <div class="textnumber">
                                        <div>Demand on market</div>
                                        <div id="demand">0</div>
                                    </div>
                                    <div id="sell_amount" class="trade_amount">
                                        <div class="plus">+1</div>
                                        <div class="current">0</div>
                                        <div class="minus">-1</div>
                                        <div class="reset">Reset</div>
                                    </div>
                                    <div class="textnumber">
                                        <div>Estimated profits</div>
                                        <div id="profit">0</div>
                                    </div>
                                    <div id="confirm_buy" class="button">Confirm trade</div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="corner top"></div>
                <div class="corner bottom"></div>
            </div>

        </div>  
    </div>


    <script src="/static/modules/load_images.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script type="module" src="/static/ui2.js"></script>
</body>