<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Path of :dishu:</title>
    <link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>

    <div id="bg_fade"></div>


    <div id="login_container">
        <div id="select_box">
            <div id="open_login_window_button" class="selected">I'm already funny ball</div>
            <div id="open_reg_window_button" >BECOME FUNNY BALL</div>
        </div>
        <div id='login-frame'>
            <form action=''>
                <p><input id='login-l' placeholder="Login"></p>
                <p><input id='password-l' placeholder="Password"></p>
                <p><input type='submit', name='login_button', value='login'></p>
            </form>
        </div>
        <div id='reg-frame'>
            <form action=''>
                <p><input id='login-r' placeholder="Login"></p>
                <p><input id='password-r' placeholder="Password"></p>
                <p><input type='submit', name='reg_button', value='register'></p>
            </form>
        </div>
    </div>


    <div id="game_container">

        <button id='char_image_button'>
            switch_char_image
        </button>
        <button id='logout'>
            logout
        </button>
        <div id = "wire_frame">
            <div id = character_window>
                <canvas id='char_image' width=240 height=246></canvas>
                <div id = char_overlay></div>
            </div>            

            <div id="chat_container">
                <div id="select_messages_type">
                    <div id="open_chat_button" class="selected">chat</div>
                    <div id="open_log_button" >logs</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>6</div>
                    <div>7</div>
                    <div>8</div>
                    <div>9</div>
                    <div>10</div>
                </div>
                <div id='log'>
                </div>
                <div id="chat">
                </div>
                <div id='send_message_frame'>
                    <input id='message_field', type="text", placeholder='New message'>
                    <input type='submit', id='send_message_button', value= 'Send' >
                </div>
            </div>

            <div id = "status_frame">
                <div id= "status_label">Status</div>
                <div id = "name_row"> 
                    <div id = "name"> </div> 
                    <div id = "level" class = "tooltip"> lvl: <div id = "level_data"></div><span class="tooltiptext">with levels you gain additional skillpoints that you can spend on acquiring new skills</span></div>
                </div>

                <div id = "bars_row">
                    <div id = "hp_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                            hp determine how bad your physical conditions are.<br>
                            at 0 you are dead and will be given a new character
                        </span>
                        <div id = "hp_column_label" class = "bar_label">hp</div>
                        <div id = "hp_bar" class = "bar_vertical">
                            <div class = "bar"><span id="hp_value_display"></span></div>
                        </div>
                        <div id = "hp_data" class = "bar_data"></div>
                    </div>
                    <div id = "rage_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        when you are figthing with enemy in melee your level of rage is rising and it lowers your accuracy.<br>
                        you can mitigate effects of rage or even make it useful via acquiring skills
                        </span>
                        <div id = "rage_column_label" class = "bar_label">rage</div>
                        <div id = "rage_bar" class = "bar_vertical">
                            <div class = "bar"><span id="rage_value_display"></span></div>
                        </div>
                        <div id = "rage_data" class = "bar_data"></div>
                    </div>
                    <div id = "blood_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        blood is a measure of how much of your body is covered by blood.<br>
                        usually it just harms your movement and accuracy but some skills can make you wish to cover yourself in it completely</span>
                        <div id = "blood_column_label" class = "bar_label">blood</div>
                        <div id = "blood_bar" class = "bar_vertical">
                            <div class = "bar"><span id="blood_value_display"></span></div>
                        </div>
                        <div id = "blood_data" class = "bar_data"></div>
                    </div>
                    <div id = "stress_column" class = "bar_column tooltip">
                        <span class="tooltiptext">stress value measures how much you want to die.<br>
                         it rises when you are fighting, crafting, etc. at 100 you will pass away.<br>
                          be careful, there are actions that without corresponding skills will stress you to death even if you was okay initially</span>
                        <div id = "stress_column_label" class = "bar_label">stress</div>
                        <div id = "stress_bar" class = "bar_vertical">
                            <div class = "bar"><span id="stress_value_display"></span></div>
                        </div>
                        <div id = "stress_data" class = "bar_data"></div>
                    </div>
                </div>

                <div id = "skill_points" class="tooltip">
                    <span class="tooltiptext">spend them on developing skills</span>
                    available skill points: <div id="skill_points_data"></div>
                </div>

                <div id = "exp_row" class="tooltip">
                    <span class="tooltiptext">progress on gaining new level</span>
                    <div id="exp_label">exp: </div>
                    <div id="exp_bar" class = "hbar"><span id="exp_value_display"></span></div>
                    <div>
                        <div id="exp_current" style="display: inline"></div>/<div id="exp_required" style="display: inline"></div>
                    </div>                    
                </div>

                <div id = "savings" class="tooltip">
                    <span class="tooltiptext">used for interaction with market and item market</span>
                    <div id="savings_label">savings: </div>
                    <div id="savings_data"></div>
                </div>
            </div>
            <div id = "control_frame">
                <div id = "attack_button", class = 'control_button tooltip'><span class="tooltiptext">Attack</span></div>
                <div id = "market_button", class = 'control_button tooltip'><span class="tooltiptext">Market</span></div>
                <div id = "market_control_button", class = 'control_button tooltip'><span class="tooltiptext">Market actions</span></div>
                <div id = "tactics_button", class = 'control_button tooltip'><span class="tooltiptext">Tactics</span></div>
                <div id = "skilltree_button", class = 'control_button tooltip'><span class="tooltiptext">Skills</span></div>
                <div id = "map_button", class = 'control_button tooltip'><span class="tooltiptext">Map</span></div>
                <div id = "character_screen_button", class = 'control_button tooltip'><span class="tooltiptext">Character screen</span></div>
                <div id = "auction_house_button", class = 'control_button tooltip'><span class="tooltiptext">Auction house</span></div>
            </div>

            <div id = "game_frame">
                <!-- <canvas id='battle_canvas' width=800 height=500, class="battle_canvas"></canvas>
                <canvas id='battle_canvas_background' width=800 height=500, class="battle_canvas"></canvas> -->
                <div id = 'battle_tab', class="game_tab">
                    <div id = 'battle_control'>
                        <div id='attack'>
                            Hunt.
                        </div>
                        <div id='attack_outpost'>
                            Search.
                        </div>
                        <div id='battle_action'>
                            Battle action.
                        </div>

                        <div id='battle_use_skill'>
                            Use skill.
                        </div>

                        <select id='battle_select_skill'>
                        </select>
                    </div>
                    

                    <div id='enemy_status'>
                    </div>
                    <canvas id='battle_canvas' width=800 height=500, class="_battle_canvas"></canvas>
                    <canvas id='battle_canvas_background' width=800 height=500, class="_battle_canvas"></canvas>
                </div>
                <div id = 'market_tab', class="game_tab">   
                    <!-- <div id="chartContainer" style="height: 370px; width:100%;"></div> -->
                    <!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
                    <div id = 'market'> </div>
                </div>
                <div id = 'market_control_tab', class="game_tab">    
                    <div id='market_actions'>
                        <!-- <button id='show_buy_form'>
                            buy
                        </button>
                        <button id='show_sell_form'>
                            sell
                        </button> -->
                        <br>
                        <div id='buy_form_con'>
                            <form action=''>
                                <p>
                                    <label for='buy_tag_select'> tag </label>
                                    <select id='buy_tag_select'>
                                    </select>
                                </p>
                                <p>
                                    <label for='buy_amount'> amount </label>
                                    <input id='buy_amount'>
                                </p>
                                <!-- <p>
                                    <label for='buy_money'> money </label>
                                    <input id='buy_money'>
                                </p> -->
                                <p>
                                    <label for='buy_max_price'> max price </label>
                                    <input id='buy_max_price'>
                                </p>
                                <p>
                                    <input type='submit', name='buy', value='buy'>
                                </p>
                            </form>
                        </div>
                        <div id='sell_form_con'>
                            <form action=''>
                                <p>
                                    <label for='sell_tag_select'> tag </label>
                                    <select id='sell_tag_select'>
                                    </select>
                                </p>
                                <p>
                                    <label for='sell_amount'> amount </label>
                                    <input id='sell_amount'>
                                </p>
                                <p>
                                    <label for='sell_price'> price </label>
                                    <input id='sell_price'>
                                </p>
                                <p>
                                    <input type='submit', name='sell', value='sell'>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div id = 'tactics_tab', class="game_tab">
                    <div id = 'tactic'> </div>
                </div>
                <div id = 'skilltree_tab', class="game_tab">
                    <div id = 'skilltree'> </div>
                </div>
                <div id = 'map_tab', class = "game_tab">
                    <div id = 'map_column'>
                    <canvas id='map' width=500 height=500 oncontextmenu="return false;"></canvas>
                    </div>
                    <div id = 'description_column'> 
                        <div id='local_description'></div>
                        <div id='map_control'></div>
                    </div>
                    
                </div>
                <div id = 'character_screen', class = "game_tab">

                    <div id = 'cs_first_column' class = 'tooltip'>
                        <span class = 'tooltiptext'>
                                int: nothing <br>
                                mem: nothing <br>
                                pow: power of spells <br>
                                tac: number of tactic slots <br>
                                tou: nothing <br>
                                vis: nothing <br>
                                breathing: nothing <br>
                                musculature: power of phys attacks <br>
                                coordination: nothing <br>
                                resists: how much damage is reduced from different parts of attacks
                        </span>
                        <div id = 'stats', class = 'character_screen_frame'></div>
                    </div>

                    <div id = 'cs_second_column'>

                        <div id = 'inventory', class = 'character_screen_frame'>
                            <table id = 'inventory_items'></table>
                            <div id = 'inventory_stash'>
                                <div id = 'inv_meat',    class = 'stash_block'><div id = 'inv_meat_image',    class = 'stash_image'></div><div id = 'meat_count'   ></div></div>
                                <div id = 'inv_food',    class = 'stash_block'><div id = 'inv_food_image',    class = 'stash_image'></div><div id = 'food_count'   ></div></div>
                                <div id = 'inv_water',   class = 'stash_block'><div id = 'inv_water_image',   class = 'stash_image'></div><div id = 'water_count'  ></div></div>
                                <div id = 'inv_leather', class = 'stash_block'><div id = 'inv_leather_image', class = 'stash_image'></div><div id = 'leather_count'></div></div>
                                <div id = 'inv_clothes', class = 'stash_block'><div id = 'inv_clothes_image', class = 'stash_image'></div><div id = 'clothes_count'></div></div>
                                <div id = 'inv_tools',   class = 'stash_block'><div id = 'inv_tools_image',   class = 'stash_image'></div><div id = 'tools_count'  ></div></div>
                                <div id = 'inv_zaz',     class = 'stash_block'><div id = 'inv_zaz_image',     class = 'stash_image'></div><div id = 'zaz_count'  ></div></div>
                            </div>
                        </div>
                        <div id = 'craft', class = 'character_screen_frame'></div>

                    </div>

                    <div id = 'cs_third_column'>
                        <div id = 'equip', class = 'character_screen_frame'>
                            <div id = 'eq_head', class = 'item_frame tooltip'> 
                                <div id="eq_head_image", class = 'item_image'></div>
                                <span id="eq_head_tooltip", class="tooltiptext"></span>
                            </div>
                            <div id = 'eq_right_hand', class = 'item_frame tooltip'>
                                <div id="eq_right_hand_image", class = 'item_image'></div>
                                <span id="eq_right_hand_tooltip", class="tooltiptext"></span>
                            </div>
                            <div id = 'eq_body', class = 'item_frame tooltip'>
                                <div id="eq_body_image", class = 'item_image'></div>
                                <span id="eq_body_tooltip", class="tooltiptext"></span>
                            </div>
                            <div id = 'eq_legs', class = 'item_frame tooltip'>      
                                <div id="eq_legs_image", class = 'item_image'></div>
                                <span id="eq_legs_tooltip", class="tooltiptext"></span>
                            </div>
                            <div id = 'eq_foot', class = 'item_frame tooltip'>      
                                <div id="eq_foot_image", class = 'item_image'></div>
                                <span id="eq_foot_tooltip", class="tooltiptext"></span>
                            </div>
                            <div id = 'eq_arms', class = 'item_frame tooltip'>      
                                <div id="eq_arms_image", class = 'item_image'></div>
                                <span id="eq_arms_tooltip", class="tooltiptext"></span>
                            </div>
                        </div>
                        <div id = 'character_screen_actions', class = 'character_screen_frame'></div>
                    </div>                    
                </div>

                <div id="auction_house_tab" class="game_tab">
                    <!-- <div id="auction_tab_select">
                        <div id="auction_buy_tab_button" class="auction_tab_button">BUY</div>
                        <div id="auction_sell_tab_button" class="auction_tab_button">SELL</div>
                        <div id="auction_offers_tab_button" class="auction_tab_button">MY OFFERS</div>
                    </div>
                    <div id="auction_active_tab">
                        <div id="auction_buy_tab" class="auction_tab">BUYING STUFF</div>
                        <div id="auction_sell_tab" class="auction_tab">SELLING STUFF</div>
                        <div id="auction_offers_tab" class="auction_tab">HERE IS YOUR STUFF YOU ARE SELLING</div>
                    </div>                     -->
                </div>
                
            </div>

        </div>
        
        <div id = overlay></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gl-matrix@3/gl-matrix.js"></script>
    <script src="/static/common.js"></script>
    <script src="/static/load_images.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <!-- <script src='https://code.jquery.com/jquery-1.11.1.js'></script> -->
    <!-- <script src='/static/main.js'></script> -->
    <script src="/static/character_image.js"></script>
    <script src="/static/battle_image.js"></script>
    <script src="/static/market_table.js"></script>
    <script src="/static/auction_house.js"></script>
    <script src="/static/skill_tree.js"></script>
    <script src="/static/tactic_screen.js"></script>
    <script src="/static/character_screen.js"></script>
    <script src="/static/map.js"></script>
    <script src="/static/ui.js"></script>
</body>
</html>