<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8">
    <title>Path of :dishu:</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tooltip.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/bars.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/style2.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/locations.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/character_creation.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/status_frame_style.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/tab_list.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/table.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/messages.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/map.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/skills.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/market.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/goods_market.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/char_screen.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/battle.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/quests.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/equiped_items.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/backdrop.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/dialog.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/buttons.css">
</head>
<body>
    <!-- <script>var exports = {};</script> -->

    <div id="bg_fade"></div>

    <button id='logout'>
        logout
    </button>
    <button id='reset_windows'>
        reset windows
    </button>

    <!-- <div id="base_background"></div> -->

    <div id="notification_area">
    </div>

    <div id="game_container">
        <div id = "login_scene" class="game_scene">
            <div id="login_container">
                <div id="select_box">
                    <div id="open_login_window_button" class="selected">Login</div>
                    <div id="open_reg_window_button" >Registration</div>
                </div>
                <div id='login-frame'>
                    <form action=''>
                        <p><input id='login-l' placeholder="Login"></p>
                        <p><input id='password-l' placeholder="Password"></p>
                        <p><input type='submit', name='login_button', value='login'></p>
                    </form>
                </div>
                <div id='reg-frame' class="hidden">
                    <form action=''>
                        <p><input id='login-r' placeholder="Login"></p>
                        <p><input id='password-r' placeholder="Password"></p>
                        <p><input id='code-r' placeholder="Tester code"></p>
                        <p><input type='submit', name='reg_button', value='register'></p>
                    </form>
                </div>
            </div>

            <div id = "main_menu">
                <!-- <div id="to_character_creation" class="main_menu_button"> Play. </div> -->
                <div class="main_menu_button"> <a href="https://github.com/ineveraskedforthis/2" target="_blank">Github</a> </div>
                <div class="main_menu_button"> <a href="https://netr.itch.io/" target="_blank">Itch.io</a></div>
            </div>
        </div>


        <div id = "character_creation" class="game_scene">
            <div class="character_stats">
                <div id="page_0" class="page"> </div>

                <div id="page_2" class="page">
                    <div>TRAITS</div>

                </div>

                <div id="page_1" class="wide-page">

                    <div id="minimap_character_creation">
                        <div class="minimap"></div>
                        <div id="minimap_overlay" class="overlay"></div>
                    </div>

                    <div>YOUR NAME</div>

                    <div><input id='char_name' placeholder="name"></div>

                    <div><select id='char_race'>
                        <option value="city">Human from City</option>
                        <option value="steppe_humans">Human from Steppe</option>
                        <option value="big_humans">Mutated human</option>
                        <option value="rats">Rat</option>
                        <option value="graci">Graci</option>
                        <option value="elodino_free">Elodino</option>
                    </select></div>

                    <button id="next_2" class="next">Create</button>
                </div>
            </div>

            <div id = "page_3" class="character_image_col noselect">
                <img id="character_creation_image_body" class="character_creation_image image_body"></img>
            </div>
        </div>

        <div id="actual_game_scene" class="game_scene">
            <div id = "character_image_display" class="noselect">

            </div>


            <div id="status_frame" class = "game_frame noselect container-horizontal">
                <div id = "bars_row" class = "container-vertical">
                    <div id = "hp_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                            Your physical condition.<br>
                            At 0 you are <i class="red">dead</i>
                        </span>
                        <div id = "hp_bar" class = "hbar">
                            <span class="hp_value_bar"></span>
                        </div>
                    </div>
                    <div id = "rage_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        Rises when figthing with enemy in melee.<br>
                        <i class="red">Lowers</i> your accuracy.
                        </span>
                        <div id = "rage_bar" class = "hbar">
                            <span class="rage_value_bar"></span>
                        </div>
                    </div>
                    <div id = "blood_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        "Blood" covering your body.<br>
                        <i class="red">Harms</i> your movement and accuracy
                        </span>
                        <div id = "blood_bar" class = "hbar">
                            <span class="blood_value_bar"></span>
                        </div>
                    </div>
                    <div id = "stress_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        How much you want to die.<br>
                        <i class="red">Rises</i> when you are fighting, crafting, etc. at 100 you will develop a new trait.
                        </span>
                        <div id = "stress_bar" class = "hbar">
                            <span class="stress_value_bar"></span>
                        </div>
                    </div>
                    <div id = "fatigue_column" class = "bar_column tooltip">
                        <span class="tooltiptext">
                        Fatigue: how tired you are.<br>
                        <i class="red">Rises</i> when you are doing stuff. <i class="red">Reduces</i> your ability to do actions.
                        </span>
                        <div id = "fatigue_bar" class = "hbar">
                            <span class="fatigue_value_bar"></span>
                        </div>
                    </div>
                </div>

                <div class="container-vertical">
                    <div class = "bar_data large-font"> HP: </div>
                    <div class = "bar_data large-font"> Rage: </div>
                    <div class = "bar_data large-font"> Blood: </div>
                    <div class = "bar_data large-font"> Stress: </div>
                    <div class = "bar_data large-font"> Fatigue: </div>
                </div>

                <div class="container-vertical">
                    <div class = "bar_data large-font hp_value"></div>
                    <div class = "bar_data large-font rage_value"></div>
                    <div class = "bar_data large-font blood_value"></div>
                    <div class = "bar_data large-font stress_value"></div>
                    <div class = "bar_data large-font fatigue_value"></div>
                </div>
            </div>

            <div id="messages_frame" class="game_frame chat_display_true chat-display">
                <div id="hide_chat_button" class="hide_chat_button">&#9660;</div>
                <div class="container">
                    <div class="header noselect">
                        <div id="open_chat_button" class="selected chat_button">Chat</div>
                        <div class="border_sep"></div>
                        <div id="open_log_button" class="chat_button">Logs</div>
                        <div class="border_sep"></div>
                        <div id="open_log-attack_button" class="chat_button">Attacks</div>
                        <div class="border_sep"></div>
                        <div id="open_4_button" class="chat_button">Chat 4</div>
                        <div class="border_sep"></div>
                        <div id="open_5_button" class="chat_button">Chat 51</div>
                    </div>
                    <div id='desktop-list_of_messages' class='list_of_messages'>
                        <div id='log' class="messages_display log hidden">
                        </div>
                        <div id="chat" class="messages_display chat">
                        </div>
                        <div id="log-attack" class="messages_display log-attack hidden">
                        </div>
                    </div>
                    <form id='desktop-send_message_frame' class="send_message_frame">
                        <input id='message_field' class="message_field" type="text", placeholder='New message'>
                        <input type='submit', id='send_message_button' class="generic-button" value= 'Send' >
                    </form>
                </div>
            </div>

            <div id = "desktop_actions" class="game_frame actions-display">
                <div class="large-font"> Activities: </div>
            </div>

            <div id="tab_list_frame" class="game_frame noselect container-horizontal">
                <!-- <div id = "battle_button", class = 'control_button tooltip'><span class="tooltiptext">Attack</span></div> -->
                <div id = "market_button", class = 'control_button tooltip'><span class="tooltiptext">Market</span></div>
                <!-- <div id = "tactics_button", class = 'control_button tooltip'><span class="tooltiptext">Tactics</span></div> -->
                <div id = "skilltree_button", class = 'control_button tooltip'><span class="tooltiptext">Skills</span></div>
                <div id = "map_button", class = 'control_button tooltip'><span class="tooltiptext">Map</span></div>
                <div id = "equip_button", class = 'control_button tooltip'><span class="tooltiptext">Equipment screen</span></div>
                <!-- <div id = "quest_button", class = 'control_button tooltip'><span class="tooltiptext">Quests screen</span></div> -->
                <div id = "stash_button", class = 'control_button tooltip'><span class="tooltiptext">Stash</span></div>
                <!-- <div id = "backpack_button", class = 'control_button tooltip'><span class="tooltiptext">Backpack</span></div> -->
                <div id = "craft_button", class = 'control_button tooltip'><span class="tooltiptext">Craft</span></div>
                <div id = "sauce_button", class = 'control_button generic-button'></div>
            </div>

            <div id = "action_progress_bar" class = "hidden">
            <span>
            </span>
            </div>


            <div id="available_perks", class="game_tab hidden container-vertical pop-up">
                <div id="character_greeting" class="flex-1"></div>
                <button id="buy_land_plot"> Buy land plot (500) </button>
                <div id="skills_for_learning" class="container-vertical"></div>
                <div id="perks_for_learning" class="container-vertical"></div>
                <button id="close_perks"> Close </button>
            </div>



            <div id="craft_tab" class="game_tab hidden movable noselect container-vertical">
                <div class="game_tab_header container-horizontal">
                    <div class="game_tab_label">
                    Craft
                    </div>
                </div>
                <div id="craft_management" class="container-horizontal tab_content">
                    <div id="craft_list" class="container-vertical scroll-y flex-3 align-right craft-display">
                    </div>
                </div>
                <div class="corner bottom"></div>
            </div>

            <div id="stash_tab" class="game_tab hidden movable noselect container-vertical">
                <div class="game_tab_header container-horizontal">
                    <div class="game_tab_label">
                        Stash
                    </div>
                </div>

                <div id = 'stash_container' class = 'container-vertical tab_content'>
                    <div class = "stash-display"></div>

                    <div> Savings: </div>
                    <div class = "savings_value"></div>
                    <div> Savings reserved in trade: </div>
                    <div class = "savings_trade_value"></div>
                </div>
                <div class="corner bottom"></div>
            </div>

            <div id = 'map_tab' class="game_tab hidden movable noselect container-vertical">
                <div class="game_tab_header container-horizontal">
                    <div class="game_tab_label">
                    Map
                    </div>
                </div>
                <div class="game_tab_content">
                    <div class="container-horizontal height-full padding-0010r">
                        <div id = 'map_column' class="flex-3 width-40pc margin-0001r border-round height-full width-50pc">
                            <div id = 'map_context' class="hidden">
                                <div id='map_control'>
                                    <div id = 'map_buttons'>
                                        Press right click mouse button to move.
                                    </div>
                                    <div id='local_description'></div>
                                </div>
                            </div>
                            <canvas class='map-canvas' width=1000 height=800 oncontextmenu="return false;"></canvas>
                        </div>
                        <div id = 'locations_column' class = "flex-2 width-20pc height-full container-vertical margin-0001r border-round">
                            <div id="selected-location-image" class="flex-3 height-30pc margin-0020r border-round background-solid background-cover"></div>
                            <div id="location-action" class="flex-0-0-5 margin-0020r border-round background-solid container-horizontal">
                                <div id="enter-location-button" class="generic-button centered-box flex-1 height-auto"> Enter </div>

                                <div class="generic-button centered-box flex-1 height-auto"> ??? </div>
                            </div>
                            <div id="location-list" class="flex-3 margin-0020r border-round background-solid scroll-y">

                            </div>

                            <div id="cell-action" class="flex-0-0-5 margin-0020r border-round background-solid container-horizontal">
                                <div id="claim-location-button" class="generic-button centered-box flex-1 height-auto"> Claim land plot </div>
                            </div>
                        </div>
                        <div class="flex-1 width-auto height-full container-vertical margin-0001r border-round">

                            <div class="container-vertical margin-0020r border-round padding-0020r flex-1">
                                <div id="location-description" class="details_content"></div>
                                <div id="location-rooms" class="details_content"></div>
                                <div id="location-guests" class="details_content"></div>

                                <div id="location-durability" class="details_content"></div>
                                <div id="repair-location" class="details_content generic-button"> REPAIR </div>

                                <div id="location-owner" class="details_content"> OWNER </div>
                                <div id="rent-location-price" class="details_content"> RENT_PRICE </div>
                                <div id="rent-location-price-true" class="details_content"> RENT_PRICE_TRUE </div>
                                <div id="rent-location-room" class="details_content generic-button"> RENT </div>
                                <!-- <div id="change-price-room" class="details_content generic-button"> CHANGE_PRICE </div> -->
                                <!-- <input type="text" id="location-rent-price-input" class="details_content"> -->
                            </div>

                            <div class="container-vertical margin-0020r border-round padding-0020r flex-2">
                                <div class="attack-selected generic-button flex-0-0-5"> Attack </div>
                                <div class="rob-selected generic-button flex-0-0-5"> Rob the dead. </div>
                                <div class="support-selected generic-button flex-0-0-5"> Support in battle. </div>
                                <div id="request_perks_selected_charater" class="generic-button flex-0-0-5"> Talk. </div>

                                <div id="characters_list" class="flex-3 characters-display-mini"></div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="corner bottom"></div> -->
            </div>

            <div id = 'battle_tab', class="game_tab hidden movable noselect container-horizontal">
                <div class="enemy_list container-vertical background-light">
                    <div class='enemy_status'></div>
                </div>

                <div id = "battle_display_container" class = 'battle_display'>
                    <canvas id='battle_canvas' width=250 height=250, class="_battle_canvas"></canvas>
                </div>

                <div class = 'battle_control container-vertical background-light'>

                </div>
            </div>


            <div id = 'skilltree_tab', class="game_tab hidden movable noselect container-vertical">
                <div class="game_tab_header container-horizontal">
                    <div class="game_tab_label">
                        Character
                    </div>
                </div>
                <div id = 'skills'>
                    <div id = 'skills_header_container'>
                        <div id = 'skills_header' class="header">
                            Skills
                        </div>
                        <div id = 'perks_header' class="header">
                            Perks
                        </div>
                        <div id = 'stats_header' class="header">
                            Stats
                        </div>
                    </div>
                    <div id = 'skills_body'>
                        <div id = 'skills_tab' class = 'tab'>
                        </div>

                        <div id = 'perks_tab' class = 'tab hidden'>
                        </div>

                        <div id = 'stats_tab' class = 'tab hidden container-vertical>
                        </div>

                        <div class = 'selected_description'>
                        </div>
                    </div>
                </div>
                <div class="corner bottom"></div>
            </div>

            <div id = 'market_tab', class="game_tab hidden movable noselect container-vertical">
                <div class="game_tab_header container-horizontal">
                    <div class="game_tab_label">
                        Market
                    </div>
                </div>
                <div id = 'market' class="tab_content container-vertical">
                    <div class="generic_header_buttons_container">
                        <div id="open_market" class="selected">Common goods</div>
                        <div id="open_auction">Equipment</div>
                    </div>
                    <div class="market_body">

                        <div id="market_wrapper">
                            <div class="generic_header_buttons_container">
                                <div id="market_buy_header" class="selected">Sell goods</div>
                                <div id="market_sell_header">Buy goods</div>
                            </div>
                            <div class="goods_market market_tab" >

                                <div id="bulk_market_container" class="columns_container">
                                    <div id = "bulk_market_control">
                                        <div id="bulk_market_filters">
                                            <div> Filters: </div>

                                            <div id="per_good_filters" class="scroll-y"> </div>
                                        </div>

                                        <div class="market_control">
                                            <select name="order_material" id="create_order_material"></select>
                                            <select name="order_type" id="create_order_type">
                                                <option value="sell">Sell</option>
                                                <option value="buy">Buy</option>
                                            </select>
                                            <input type="text" id="create_order_amount" class="market_input_field" placeholder="Amount">
                                            <input type="text" id="create_order_price" class="market_input_field" placeholder="Price">
                                            <p></p>
                                            <button id="create_order_button"> Send </button>
                                            <button id="clear_orders_button"> Clear all. </button>

                                            <div> Savings: </div>
                                            <div class = "savings_value"></div>
                                            <div> Savings reserved in trade: </div>
                                            <div class = "savings_trade_value"></div>
                                        </div>
                                    </div>

                                    <div id="goods_list_buy" class="market_goods_list">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="auction_wrapper">
                            <div class="auction_body market_tab">
                                <div id="auction_house_tab">
                                </div>

                                <p></p>
                                <div class="auction_control">
                                    <select name="auction_order_item" id="create_auction_order_item"></select>
                                    <input type="text" id="create_auction_order_price" placeholder="Price">
                                    <button id="create_auction_order_button"> Sell </button>
                                    <button id="clear_auction_orders_button"> Clear all. </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div id = "stats_tab" class="game_tab hidden movable noselect">
                <div id = 'stats', class = 'character_screen_frame'></div>
            </div>


            <div id = "actions_tab" class="game_tab hidden movable noselect">
                <div id = 'character_screen_actions', class = 'character_screen_frame'></div>
            </div>

            <div id="equip_tab" class="game_tab hidden movable noselect container-vertical">
                <div class="game_tab_header container-horizontal">
                    <div class="game_tab_label">
                        Equip
                    </div>
                </div>

                <div class="tab_content">
                    <p class = "tab_label"> Backpack: </p>
                    <div id = "backpack_tab" class="character_screen_frame">

                    </div>
                    <p class = "tab_label"> Equipment: </p>
                    <button id="send_switch_weapon_request">Switch weapon</button>
                    <div id = 'equip', class = 'character_screen_frame equip-display'>

                    </div>
                </div>


                <div class="corner bottom"></div>
            </div>

            <div id="quest_tab" class="game_tab hidden movable noselect">

                <div class="quest_givers">
                </div>

                <div class="quest_screen">
                    <div class="quest_list">
                    </div>
                    <div class="quest_portrait">
                    </div>
                </div>

                <!-- <div class="corner top"></div> -->
                <div class="corner bottom"></div>
            </div>


            <div id="sauce_tab" class="game_tab hidden noselect">
                <div id="sauce-wrapper">
                    <div id="sauce-craft" class="sauce-box craft-display scroll-y"></div>

                    <div id="sauce-shop" class="sauce-box shop-display-mini scroll-y"></div>

                    <div id="sauce-stash" class="sauce-box stash-display scroll-y"></div>

                    <div id="sauce-inventory" class="container-vertical sauce-box">
                        <div id="sauce-backpack" class="sauce-box flex-1 backpack-display-mini scroll-y"></div>
                        <div id="sauce-equip" class="sauce-box flex-1 equip-display-mini scroll-y"></div>
                    </div>

                    <div id="sauce-movement" class="sauce-box">
                        <div class="width-fill height-fill container-vertical sauce-box">
                            <div id="sauce-map" class="sauce-box flex-2 map-diplay-mini">
                                <canvas class='map-canvas' width=1000 height=800 oncontextmenu="return false;"></canvas>
                            </div>
                            <div class="container-horizontal sauce-box flex-0-0-30px">
                                <div class="attack-selected generic-button flex-1"> Attack</div>
                                <div class="rob-selected generic-button flex-1"> Rob </div>
                                <div class="support-selected generic-button flex-1"> Support </div>
                            </div>

                            <div class="container-horizontal sauce-box flex-1">
                                <div class="sauce-box flex-1 actions-display scroll-y height-20rem"></div>
                                <div id="sauce-locations" class="sauce-box flex-1 locations-display-mini scroll-y height-20rem"></div>
                                <div id="sauce-local-characters" class="sauce-box flex-1 characters-display-mini scroll-y height-20rem"></div>
                            </div>
                        </div>
                    </div>

                    <div id="sauce-chat-container" class="sauce-box chat-display">
                        <div class="container height-full">
                            <div class="header noselect">
                                <div id="sauce-open_chat_button" class="selected chat_button">Chat</div>
                                <div class="border_sep"></div>
                                <div id="sauce-open_log_button" class="chat_button">Logs</div>
                                <div class="border_sep"></div>
                                <div id="sauce-open_log-attack_button" class="chat_button">Attacks</div>
                                <div class="border_sep"></div>
                                <div id="sauce-open_4_button" class="chat_button">Chat 4</div>
                                <div class="border_sep"></div>
                                <div id="sauce-open_5_button" class="chat_button">Chat 51</div>
                            </div>
                            <div class='list_of_messages'>
                                <div id="sauce-log" class="log messages_display hidden">
                                </div>
                                <div id="sauce-chat" class="chat messages_display">
                                </div>
                                <div id="sauce-log-attack" class="messages_display hidden">
                                </div>
                            </div>
                            <form id='send_message_frame' class="send_message_frame">
                                <input id='sauce-message_field' class="message_field", type="text", placeholder='New message'>
                                <input type='submit', id='sauce-send_message_button' class="generic-button", value= 'Send' >
                            </form>
                        </div>
                    </div>
                </div>
            </div>



            <div id="backdrop" class="background-backdrop hidden">
                <div id="dialog-scene" class="dialog-scene hidden">
                    <div class="character-display">
                    </div>

                    <div id="dialog-options" class="options-container">
                        <div class="dialog-content dialog-option">
                            HEEEEEELOOOOO
                        </div>

                        <div class="dialog-content dialog-option">
                            LET'S TRADE!!!!
                        </div>

                        <div class="dialog-content dialog-option">
                            LET'S LEARN MODEL CATEGORIES
                        </div>
                        <div class="dialog-content dialog-option">
                            LET'S LEARN MODEL CATEGORIES
                        </div>
                        <div class="dialog-content dialog-option">
                            LET'S LEARN MODEL CATEGORIES
                        </div>

                    </div>
                    <div id="dialog-message" class="dialog-message dialog-content">
                        HELLOOOOOOOOOOOO
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='/socket.io/socket.io.js'></script>
    <script type="module" src="/static/modules/load_images.js"></script>
    <script type="module" src="/static/main.js"></script>
</body>