doctype html
html
    head
        meta(charset='utf-8')
        title hello
        link(rel='stylesheet', type='text/css', href='styles/style.css')
        
    body
        h1 hello, friend
        form(action='loginreg', method='post')
            p 
                label(for='login') login
                input(id='login')
            p 
                label(for='password') password
                input(id='password')
            p
                input(type='submit', name='login_button', value='login')
                
        p
            button register
        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-1.11.1.js')
        script.
            $(() => {
                var socket = io();
                $('form').submit(e => {
                    e.preventDefault();
                    socket.emit('login', {login: $('#login').val(), password: $('#password').val()});
                })
            })