body {
    background-image: url(/static/img/background_1.png);
    background-repeat: repeat;
}
#login_button {
    
}
li:nth-of-type(2n) {
    background-color: #ccc;
}
li:nth-of-type(2n+1) {
    background-color: #eee;
}
li.selected {
    background-color: green;
}
li:hover {
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}
#game {
    background: tomato;
    height: 500px;
    border: 1px solid black;
    overflow: auto;
}
#status {
    background: tomato;
    height: 500px;
    border: 1px solid black;
    overflow: auto;
}
#users-list-container {
    background: tomato;
    height: 500px;
    border: 1px solid black;
    overflow: auto;
}
#actions {
    background: tomato;
    height: 500px;
    border: 1px solid black;
}
#game-log {
    overflow: auto;
}
#game-field {
    border: 1px solid red;
}

#users-list {
    list-style-type: none;
}