.locations-list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.background-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locations-actions {
    height: 100%;
    width: 40%
}

.locations-actions > div {
    margin-bottom: 10px;
    height: 40px;

}


#selected-location-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}