#map_column{
    overflow: hidden;
}

#characters_list {
    overflow-y: scroll;
    width: 100%;
    flex: auto;
    height: 100%;
}

#characters_list > div {
    height: 20px;
    width: 100%;
}

#characters_list > div:hover {
    background-color: yellow;
    color: blue;
}

#characters_list > div.selected {
    background-color: greenyellow;
    color: blue;
}

#local_description{
    position: absolute;
    left: 30%;
    top: 0%;
    height: 200px;
    width: 70%;
    overflow: hidden;
    border-left: rgb(168, 9, 9) solid 1px;
}

#map_control{
    height: 200px;
    width: 30%;
    overflow: hidden;
}

#map_buttons > .button {
    height: 30px;
    width: 100%;
    left: 5px;
    background: rgba(105, 119, 52, 0.247);
    border: rgb(168, 9, 9) solid 1px;

}

#map_buttons > .button:hover {
    background: rgba(101, 102, 28, 0.507);
}

#map_buttons > .button:active {
    background: rgba(178, 219, 28, 0.66);
}


.unavailable {
    background: gray;
    color: aliceblue;
}

.unavailable > .probability {
    visibility: hidden;
}

#map_context {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 400px;
    height: auto;
    background: rgba(151, 0, 0, 0.66);
    border: rgb(168, 9, 9) solid 1px;
    overflow: hidden;
}
