
#market {
    height: 100%;
    width: 100%;
}

#market > .header {
    position: absolute;
    top: 0%;
    height: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#market > .header > div {
    width: 50%;
    height: 100%;
    background-color: rgba(163, 28, 28, 0.425);
}

#market > .header > div:hover {
    background-color: rgba(148, 156, 36, 0.425);
}

#market > .header > .selected {
    background-color: rgba(145, 148, 102, 0.671);
}

#market > .market_body {
    position: absolute;
    top: 20px;
    height: calc(100% - 20px);
    width: 100%;
    /* padding: 2px; */
}

#market > .market_body > .market_tab {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#market > .market_body > .goods_market > .goods_list {
    height: 100%;
    width: 100%;
}

#market > .market_body > .goods_market > .goods_list > .goods_type {
    display: flex;
    flex-direction: row;
    border: #590000 1px solid;
    background-color: rgba(80, 21, 11, 0.479);
}

#market > .market_body > .goods_market > .goods_list > .goods_type:hover {
    background-color: rgba(148, 156, 36, 0.425);
}

#market > .market_body > .goods_market > .goods_list > .goods_type.selected {
    background-color: rgba(145, 148, 102, 0.671);
}

#market > .market_body > .goods_market > .goods_list > .goods_type > .goods_name {
    width: 100px;
}

#market > .market_body > .goods_market > .goods_list > .goods_type > .goods_avg_sell_price {
    width: 100px;
}

#market > .market_body > .goods_market > .goods_list > .goods_type > .goods_avg_buy_price {
    width: 100px;
}

#market > .market_body > .goods_market > .goods_list > .goods_type > .goods_amount_in_inventory {
    width: 100px;
}

#market > .market_body > .goods_market > .goods_list > .goods_type.selected {
    background-color: rgba(187, 197, 45, 0.575);
}

#market > .market_body > .goods_market > .market_control {
    height: 20px;
    /* width: 39%; */
    /* height: 95%; */
    /* border: #590000 1px solid; */
}

#market > .market_body > .goods_market > .market_control > .header {
    width: 100%;
    height: 20px;
    text-align: center;
}

#market > .market_body > .goods_market > .market_control > .description {
    text-align: center;
    top: 10%;
    width: 100%;
    height: 20px;
}

#market > .market_body > .goods_market > .market_control > .buy_panel {
    text-align: center;
    top: 40%;
    width: 100%;
    height: 35%;
}

#market > .market_body > .goods_market > .market_control > .sell_panel {
    text-align: center;
    top: 60%;
    width: 100%;
    height: 35%;
}


#market > .market_body > .goods_market > .market_control > .control_panel > div {
    height: 25%;
}

#market > .market_body > .goods_market > .market_control > .buy_panel {
    background-color: rgba(0, 0, 255, 0.10);
}

#market > .market_body > .goods_market > .market_control > .sell_panel {
    background-color: rgba(0, 255, 0, 0.10);
}

.market_button {
    background-color: rgba(80, 21, 11, 0.123);
    border: #590000 1px solid;
    width: 100px;
    text-align: center;
}

.market_button:hover {
    background-color: rgba(217, 228, 53, 0.425);
}

.market_button:active {
    background-color: rgba(237, 254, 1, 0.928);
}

.trade_amount {
    display: flex;
    flex-direction: row;
}

.trade_amount > div {
    text-align: center;
}

.trade_amount > .plus {
    width:20%;
    background-color: #590000;
}
.trade_amount > .plus:hover {
    width:20%;
    background-color: #a80000;
}
.trade_amount > .current {
    width:30%;
}
.trade_amount > .minus {
    width:20%;
    background-color: #590000;
}
.trade_amount > .minus:hover {
    width:20%;
    background-color: #a80000;
}
.trade_amount > .reset {
    width:30%;
    background-color: #a80000;
}
.trade_amount > .reset:hover {
    background-color: red;
}



.textnumber {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.textnumber > div {
    width: 50%;
    height: 100%;
    text-align: center;
}




#auction_tab_select{
    position: relative;
    width: 100%;
    height: 38px;
}
.auction_tab_button{
    text-align: center;
    float: left;
    width: 20%;
    padding: 0.5em;
    height: 1em;
    border: #590000 3px solid;
    color: white;
    border-radius: 10px 10px 0px 0px;
    user-select: none;
}
.auction_tab_button:hover{
    background-color: rgba(78, 11, 11, 0.7);
}
.auction_tab{
    border: #590000 3px solid;
    color: white; 
    position: absolute;
    width: 795px;
    height: 450px;
}
.auc_slot{
    border: white 1px solid;
}
