
#market {
    height: 100%;
    width: 100%;
}

#market > .header {
    /* position: absolute; */
    top: 0%;
    height: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#market > .header > div {
    width: 50%;
    height: 100%;
    background-color: rgba(163, 28, 28, 0.425);
}

#market > .header > div:hover {
    background-color: rgba(148, 156, 36, 0.425);
}

#market > .header > .selected {
    background-color: rgba(145, 148, 102, 0.671);
}

#market > .market_body {
    /* position: absolute; */
    top: 20px;
    height: calc(100% - 42px);
    width: 100%;
    /* padding: 2px; */
    flex: 1;
}

#market > .market_body > div > .auction_body.market_tab {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    /* overflow: auto; */
    display: flex;
    flex-direction: column;
}

#auction_house_tab {
    height: calc(100% - 20px);
}

.market_body > div {
    height: 100%;
}


.market_button {
    background-color: rgba(80, 21, 11, 0.123);
    border: #590000 1px solid;
    width: 100px;
    text-align: center;
}

.market_button:hover {
    background-color: rgba(217, 228, 53, 0.425);
}

.market_button:active {
    background-color: rgba(237, 254, 1, 0.928);
}

.trade_amount {
    display: flex;
    flex-direction: row;
}

.trade_amount > div {
    text-align: center;
}

.trade_amount > .plus {
    width:20%;
    background-color: #590000;
}
.trade_amount > .plus:hover {
    width:20%;
    background-color: #a80000;
}
.trade_amount > .current {
    width:30%;
}
.trade_amount > .minus {
    width:20%;
    background-color: #590000;
}
.trade_amount > .minus:hover {
    width:20%;
    background-color: #a80000;
}
.trade_amount > .reset {
    width:30%;
    background-color: #a80000;
}
.trade_amount > .reset:hover {
    background-color: red;
}



.textnumber {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.textnumber > div {
    width: 50%;
    height: 100%;
    text-align: center;
}




#auction_tab_select{
    position: relative;
    width: 100%;
    height: 38px;
}
.auction_tab_button{
    text-align: center;
    float: left;
    width: 20%;
    padding: 0.5em;
    height: 1em;
    border: #590000 3px solid;
    color: white;
    border-radius: 10px 10px 0px 0px;
    user-select: none;
}
.auction_tab_button:hover{
    background-color: rgba(78, 11, 11, 0.7);
}
.auction_tab{
    border: #590000 3px solid;
    color: white;
    position: absolute;
    width: 795px;
    height: 450px;
}
.auc_slot{
    border: white 1px solid;
}


#bulk_market_filters {
    height: 80%;
}

#goods_list_buy {
    border: ivory 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(85% - 40px);
    height: 100%;
}

#bulk_market_container {
    height: calc(100% - 20px);
}

#filters_header {
    height: 25px;
}

#per_good_filters {
    height: calc(100% - 25px);
}

#bulk_market_control {
    border: ivory 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 15%;
    height: 100%;
}