#messages_frame {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30%;
    height: 30%;
}

#messages_frame {
    display: flex;
    flex-direction: row;
}

#messages_frame > .container {
    width: 50%;
    height: 100%;
    background: rgba(78, 11, 11, 0.7);
    display: flex;
    flex: auto;
    flex-direction: column;
}


#characters_list {
    overflow-y: scroll;
    width: 100%;
    flex: auto;
    height: auto;
}

#characters_list > div {
    height: 20px;
    width: 100%;
}

#characters_list > div:hover {
    background-color: yellow;
    color: blue;
}

#characters_list > div.selected {
    background-color: greenyellow;
    color: blue;
}

#messages_frame > .container > .header {
    /* position: absolute; */
    width: 100%;
    height: 33px;
    background: rgba(143, 47, 71, 1.0);
    display: flex;
    flex-direction: row;
}

#messages_frame > .container > .header > div {
    height: 33px;
    line-height: 33px;
    background-image: url(/static/img/chat_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    flex: auto;
    text-align: center;
}

#messages_frame > .container > .header > div:hover {
    color: black;
    background-image: url(/static/img/chat_button_selected.png);
}

#messages_frame > .container > .header > div.selected {
    color: black;
    background-image: url(/static/img/chat_button_selected.png);
}

#list_of_messages {
    height: 80%;
    width: 100%;
}

.messages_display {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#send_message_frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: auto;
}

#message_field {
    /* position: absolute; */
    flex: 4;
    height: 100%;
    border: 0;
    padding: 0;
}

#send_message_button {
    /* position: absolute; */
    flex: 1;
    height: 100%;
    padding: 0%;
    border: 0;
}