#messages_frame {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30%;
    height: 300px;
    padding: 5px;
    background: rgba(78, 11, 11, 0.7);
    display: flex;
    flex-direction: row;
}

.chat-display > .container {
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
}

.chat-display > .container > .header {
    /* position: absolute; */
    height: 30px;
    display: flex;
    flex-direction: row;
}

.chat-display > .container > .header > .border_sep {

    border-right: 0px solid rgba(244, 219, 216, 1);
    margin-left: 4px;

    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chat-display > .container > .header > .chat_button {
    background: rgba(51, 7, 7, 0.7);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    flex: auto;
    text-align: center;
    line-height: 30px;
    width: 20%;
}

.chat-display > .container > .header > div:hover {
    background: linear-gradient(177deg, rgba(110, 26, 26, 0.7) 0%, rgba(51, 7, 7, 0.7) 55%);
}

.chat-display > .container > .header > div.selected {
    background: linear-gradient(rgb(163, 102, 102) 0%, rgba(51, 7, 7, 0.7) 15%);
}

.list_of_messages {
    height: 80%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.messages_display {
    height: 100%;
    width: 100%;
    overflow: auto;
}
.messages_display > p {
    background: linear-gradient(90deg, rgb(163, 102, 102, 0.5) 0%, rgba(51, 7, 7, 0) 100%);
    margin-bottom: 2px;
}

/* Works on Firefox */
.scroll-y {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(135, 19, 19, 0.8) rgba(255, 255, 255, 0);
}

  /* Works on Chrome, Edge, and Safari */
.scroll-y::-webkit-scrollbar {
    width: 12px;
}

.scroll-y::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

.scroll-y::-webkit-scrollbar-thumb {
    background-color: rgba(135, 19, 19, 0.8);
}

.send_message_frame {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: auto;
}

.message_field {
    /* position: absolute; */
    background: rgba(78, 11, 11, 0.7);
    color: rgba(255, 255, 255, 1);
    flex: 4;
    height: 100%;
    border: 0;
    padding: 0px;
    padding-left: 8px;
}

.message_field:focus {
    background: linear-gradient(0deg, rgb(163, 102, 102) 0%, rgba(51, 7, 7, 0.7) 15%);
    outline: none;
}

.send_message_button {
    flex: 1;
    height: 100%;
    padding: 0%;
    border: 0px;
    margin-left: 4px;
}

#hide_chat_button{
    background: rgba(78, 11, 11, 0.7);
    padding: 2px;
    left: 96%;
    top: -22px;
    position: absolute;
    cursor: default;
}

#hide_chat_button:hover {
    background: linear-gradient(177deg, rgba(110, 26, 26, 0.7) 0%, rgba(51, 7, 7, 0.7) 55%);
}
