/* STATUS FRAME CSS */


#status_frame{
    color: rgb(13, 228, 77);  
    display: flex;
    flex-direction: column;
    height: auto;
    width: 204px;
}

div#status_frame>div{
    /* border: rgb(168, 9, 9) solid 1px; */
    display: flex;    
    width: 100%;
}

#name_row{
    height: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#name_row>div{
    margin: 0 auto;
}

#name{
    text-align: left;
}

#level_data{
    display: inline;
    right: 0%;
    text-align: right;
}


#bars_row{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#bars_row>div{
    width: 200px;
    height: 25px;
}

div#bars_row>div>.hbar{
    width: 100%;
    height: 100%
}

#hp_bar>span{
    background-color: rgb(1, 153, 64);
    background-image: url(/static/img/hp_bar_on.png);
}
#hp_bar>div{
    background-color: rgb(120,120,120);
}
#hp_bar{
    background-image: url(/static/img/hp_bar_off.png);
}

#stress_bar>span{
    background-color: rgb(0,0,0);
}
#stress_bar{
    background-image: url(/static/img/bar_off_stress.png);
}
#stress_bar>div{
    background-color: rgb(120,120,120);
}

#blood_bar>span{
    background-color: rgb(160, 0, 0);
    background-image: url(/static/img/bar_on_blood.png);
}
#blood_bar>div{
    background-color: rgb(120,120,120);
}
#blood_bar{
    background-image: url(/static/img/bar_off_blood.png);
}

#rage_bar>span{
    background-color: rgb(228, 180, 24);
    background-image: url(/static/img/bar_on_rage.png);
}
#rage_bar{
    background-image: url(/static/img/bar_off_rage.png);
}

#rage_bar>div{
    background-color: rgb(120,120,120);
}

#hp_bar>div{
    background-color: rgb(120,120,120);
}





#skill_points{
    height: 20px;
    padding-left: 1%;
}



#exp_row {
    height: 20px;
    width: 97%;
    padding-left: 1%;
    display: flexbox;
    flex-direction: row;
}

#exp_bar {
    margin-top: 2%;
}


#savings {
    height: 20px;
    padding-left: 1%;
}


/* STATUS FRAME CSS END */