body {

    background-image: url(/static/img/background_1.png);
    background-repeat: repeat;
}

#bg_fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 33, .43);
}

#logout {
    position: absolute;
    top: 5px;
    left: 5px;
}

#base_background {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: rgb(0, 0, 33, .43);
}

#login_container {
    position: absolute;
    height: 380px;
    width: 420px;
    margin: auto;
    background: rgb(56, 56, 96, .36);
    z-index: 2;
    left: 50%;
    margin-left: -210px;
    margin-top: 5%; 
    box-shadow: 5px 10px rgb(56, 56, 70, .56);;
}
#login-frame > form > p, #reg-frame > form > p{
    width: 200px;
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 20px;
    top: 20px;
}
#login-frame > form > p > input, #reg-frame > form > p > input{
    width: 200px;
}
#reg-frame, #login-frame {
    position: absolute;
    width: 100%;
    margin-top: 40px;
}
#reg-frame {
    visibility: hidden;
}
#select_box > div {
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 50%;
    background: rgb(134, 134, 134, .66);
    float: left;
    text-align: center;
}

#select_box > div:hover {
    background: rgb(166, 166, 166, .66);
}

#select_box > div.selected {
    background: rgb(166, 166, 166, .66);
}

#game_container {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

.game_scene {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#actual_game_scene {
    background-image: url(/static/img/bg_colony.png);
    background-position: center;
    background-repeat: no-repeat;
}

#login_scene {
    visibility: visible;
}



.game_frame {
    background: rgba(143, 31, 31, 0.507);
}


.movable > .corner:hover {
    background-color: yellow;
}

.movable > .corner {
    background-color: yellowgreen;
    width: 10px;
    height: 10px;
    z-index: 3;
}

.movable > .top {
    position: absolute;
    top: 0%;
    left: 0%;
}

.movable > .bottom {
    position: absolute;
    bottom: 0%;
    right: 0%;
}


#status_frame {
    position: absolute;
    height: 50%;
    width: 15%;
}

#messages_frame {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 30%;
    height: 30%;
}




.game_tab {
    position: absolute;
    left: 17%;
    top: 10%;
    width: 50%;
    height: 70%;
    background: rgba(143, 31, 31, 0.527);
    color: rgb(13, 228, 77);
}

.hidden {
    visibility: hidden;
}






._battle_canvas {
    position: relative;
}

#battle_canvas {
    z-index: 2;
}

#battle_canvas_background {
    top: -500px;
    z-index: 1;
}

#battle_control{
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 80%;
    height: 60px;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

#battle_control>div{
    border: rgb(56, 143, 6) solid 3px;
    width: 123px;
    height: 20px;
    text-align: center;
    padding-top: 0.5em;
    color: darkgreen;
    background-color: rgba(255, 255, 255, .5);
    user-select: none;
}

#battle_control>div:hover{
    border: rgb(21, 240, 39) solid 3px;
}

#enemy_status{
    border: rgb(56, 143, 6) solid 3px;
    position: absolute;
    width: 170px;
    height: 20px;
    top: 20px;
    left: 30px;
    z-index: 3;
    text-align: center;
    padding-top: 0.5em;
    color: rgb(38, 138, 46);
    background-color: rgba(255, 255, 255, .5);
    user-select: none;
}












.goods_icon {
    width: 30px;
    height: 30px;
}



