

#select_box > div {
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 50%;
    background: rgb(134, 134, 134, .66);
    float: left;
    text-align: center;
}

#select_box > div:hover {
    background: rgb(166, 166, 166, .66);
}

#select_box > div.selected {
    background: rgb(166, 166, 166, .66);
}

#temp_canvases {
    visibility: hidden;
}


#game_frame {
    position: absolute;
    top: 270px;
    left: 305px;
    height: 540px;
    width: 822px;
    background: rgba(50, 5, 5, 0.7);
}

.game_tab {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 802px;
    height: 523px;
    overflow: visible;
    color: rgb(13, 228, 77);
}

#tutorial {
    top: auto;
    left: auto;
    background-color: black;
    width: 100%;
    height: 100%;
}

#tutorial>#portrait {
    position: relative;
    background-image: url(/static/img/tutorial_portrait.png);
    background-repeat: no-repeat;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 270px;
    padding-top: 2%;
    overflow: visible;
    text-align: center;
}

.tutorial_info {
    padding-left: 2%;
}

.tutorial_hover {
    display: inline-block;
    text-decoration-line: underline;
    color: rgb(165, 19, 19);
}

#market_tab {
    overflow: auto;
}

#character_screen {
    display: flex;
}

.character_screen_frame{
    border: rgb(56, 143, 6) solid 1px;
    padding: 1%;
}

#cs_first_column{
    height: 100%;
    width: 15%;
}

#cs_second_column{
    height: 98%;
    width: 40%;
}

#cs_third_column{
    height: 98%;
    width: 45%;
}

#stats{
    height: 100%;
    overflow: auto;
}

#inventory{
    height: 60%;
    overflow: auto;
}
#craft{
    height: 40%;
    overflow: auto;
}

#equip{
    height: 70%;
}

#character_screen_actions{
    height: 30%;
}

#equip{
    display: grid;
}

#eq_head{
    grid-row: 1;
    grid-column: 2;
}

#eq_right_hand{
    grid-row: 2;
    grid-column: 1;
}

#eq_body{
    grid-row: 2;
    grid-column: 2;
}

#eq_arms{
    grid-row: 3;
    grid-column: 1;
}

#eq_legs{
    grid-row: 3;
    grid-column: 2;
}

#eq_foot{
    grid-row: 3;
    grid-column: 3;
}

.item_frame{
    /* border: rgb(56, 143, 6) solid 1px; */
    height: 90px;
    width: 90px;
    background-image: url(/static/img/background_item.png);
}

.stash_block {
    display: flex;
    border: rgb(109, 18, 18) solid 1px;
    background-color: rgb(83, 13, 13, 0.5);
}

.item_image {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}














#auction_tab_select{
    position: relative;
    width: 100%;
    height: 38px;
}
.auction_tab_button{
    text-align: center;
    float: left;
    width: 20%;
    padding: 0.5em;
    height: 1em;
    border: #590000 3px solid;
    color: white;
    border-radius: 10px 10px 0px 0px;
    user-select: none;
}
.auction_tab_button:hover{
    background-color: rgba(78, 11, 11, 0.7);
}
.auction_tab{
    border: #590000 3px solid;
    color: white; 
    position: absolute;
    width: 795px;
    height: 450px;
}
.auc_slot{
    border: white 1px solid;
}


.visible{
    visibility: visible;
}

.visible>div{
    visibility: visible;
}


