body {

    background-image: url(/static/img/background_1.png);
    background-repeat: repeat;
    font-family: "Arial", sans-serif;
    font-size: small;
    overflow: hidden;
}

div {
    box-sizing: border-box;
}

.height-full {
    position: relative;
    height: 100%;

}

.height-half {
    height: 50%;
}

.height-fill {
    position: relative;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
}

.width-full {
    position: relative;
    width: 100%;
}

.width-fill {
    position: relative;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}


.highlight {
    background-color: rgba(250, 235, 215, 0.505);
}

.hover:hover {
    background-color: yellow;
}

.press:active {
    background-color: rgba(172, 255, 47, 0.447)
}

.border-red {
    border: 4px solid crimson;
}

.border-green {
    border: 4px solid lime;
}

.border-yellow {
    border: 4px solid gold;
}

.border-red-thin {
    border: 1px solid crimson
}

.container-vertical {
    display: flex;
    flex-direction: column;
}

.container-vertical > div {
    min-width: 0;
}

.container-horizontal {
    display: flex;
    flex-direction: row;
}
.container-horizontal > div {
    min-height: 0;
}

.flex-1 {
    flex: 1
}
.flex-2 {
    flex: 2
}
.flex-3 {
    flex: 3
}

#character_image_display{
    position: absolute;
    width: 100%;
    height: 100%;
}

#bg_fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 33, .43);
}

#logout {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 100px;
    z-index: 10;
}

#reset_windows {
    position: absolute;
    top: 50px;
    right: 25px;
    width: 100px;
    z-index: 10;
}

#base_background {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: rgb(0, 0, 33, .43);
}

#login_container {
    position: absolute;
    height: 380px;
    width: 420px;
    margin: auto;
    background: rgb(56, 56, 96, .36);
    z-index: 2;
    left: 50%;
    margin-left: -210px;
    margin-top: 5%;
    box-shadow: 5px 10px rgb(56, 56, 70, .56);;
}
#login-frame > form > p, #reg-frame > form > p{
    width: 200px;
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 20px;
    top: 20px;
}
#login-frame > form > p > input, #reg-frame > form > p > input{
    width: 200px;
}
#reg-frame, #login-frame {
    position: absolute;
    width: 100%;
    margin-top: 40px;
}
/* #reg-frame {
    visibility: hidden;
} */
#select_box > div {
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 50%;
    background: rgb(134, 134, 134, .66);
    float: left;
    text-align: center;
}

#select_box > div:hover {
    background: rgb(166, 166, 166, .66);
}

#select_box > div.selected {
    background: rgb(166, 166, 166, .66);
}

#game_container {
    position: absolute;
    /* width: 1800px; */
    /* height: 900px; */
    width: 100%;
    height: 100%;
    /* margin-left: 50px; */
    /* margin-top: 30px; */
}

.game_scene {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#actual_game_scene {
    background-image: url(/static/img/bg_colony.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#login_scene {
    visibility: visible;
}



.game_frame {
    color: whitesmoke;
}


.movable > .corner:hover {
    background-color: yellow;
}

.close_tab {
    position: relative;
    top: 0%;
    right: 0%;
    width: 20px;
    height: 20px;

    background-image: url(/static/img/tab_buttons/close_tab_passive.png);
}

.close_tab:hover {
    background-image: url(/static/img/tab_buttons/close_tab_hover.png);
}
.close_tab:active {
    background-image: url(/static/img/tab_buttons/close_tab_active.png);
}

.display_none {
    display: none;
}


.movable > .corner {
    background-color: yellowgreen;
    width: 10px;
    height: 10px;
    z-index: 1;
}

.movable > .top {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10px;
}

.movable > .bottom {
    position: absolute;
    bottom: 0%;
    right: 0%;
}






#desktop_actions {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: auto;
    width: auto;
    padding: 5px;
    padding-bottom: 2px;
    background-color: rgba(78, 11, 11, 0.7);
}

.desktop_action_button {
    padding: 4px;
    background-color: rgba(51, 7, 7, 0.7);
    margin-bottom: 3px;
    cursor: default;
    height: 30px;
}

.desktop_action_button > div {
    display: inline-block;
}

.desktop_action_button:hover {
    background: linear-gradient(177deg, rgba(110, 26, 26, 0.7) 0%, rgba(51, 7, 7, 0.7) 55%);
}

.desktop_action_button:active {
    background: linear-gradient(rgb(163, 102, 102) 0%, rgba(51, 7, 7, 0.7) 15%);
}

.label_button {
    width: 8em;
}

.repeat_button {
    margin-left: 8px;
}

.repeat_button:hover {
    background: linear-gradient(rgb(163, 102, 102, 1) 0%, rgba(51, 7, 7, 0.7) 50%);
}




.red {
    color: crimson;
}


.game_tab {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(100% - 100px);
    background: rgb(91, 33, 33);
    /* color: rgb(13, 228, 77); */
    color: whitesmoke;
}

.hidden {
    visibility: collapse;
    display: none;
}


.red-text {
    color: crimson;
}

.stash-display {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    overflow-x: hidden;
    height: 100%;
}

.goods_type_stash {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: white 1px solid;
    background-color: rgb(206, 156, 164);
    color: rgb(60, 7, 7);
    border-radius: 10px;
}

.goods_type_stash:hover {
    background-color: yellow;
}

.goods_type_stash:active {
    background-color: greenyellow;
}

.goods_type_stash > .goods_amount_in_inventory {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.goods_type_stash > .tooltiptext {
    width: auto;
}

.stash_up {
    animation-duration: 1s;
    animation-name: stash_up_animation;
    animation-iteration-count: 1;
}

@keyframes stash_up_animation {
    from {
        background-color: greenyellow;
    }

    50% {
        background-color: lime;
    }

    to {
        background-color: rgb(206, 156, 164);
    }
}

.stash_down {
    animation-duration: 1s;
    animation-name: stash_down_animation;
    animation-iteration-count: 1;
}

@keyframes stash_down_animation {
    from {
        background-color: brown;
    }

    50% {
        background-color: red;
    }

    to {
        background-color: rgb(206, 156, 164);
    }
}

.craft_option {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.width-auto {
    width: auto;
}

.width-200 {
    width: 200px;
}

.width-175 {
    width: 175px;
}

.width-125 {
    width: 125px;
}

.width-100 {
    width: 100px;
}

.width-50 {
    width: 50px;
}

.width-25 {
    width: 25px;
}

.height-25 {
    height: 25px;
}

.height-50 {
    height: 50px;
}

.height-200 {
    height: 50px;
}

.height-auto {
    height: auto;
}

.height-30pc {
    height: 30%;
}

.width-10pc {
    width: 10%;
}
.width-20pc {
    width: 20%;
}
.width-30pc {
    width: 30%;
}
.width-40pc {
    width: 40%;
}
.width-50pc {
    width: 50%;
}
.width-60pc {
    width: 60%;
}
.width-70pc {
    width: 70%;
}
.width-80pc {
    width: 80%;
}
.width-90pc {
    width: 90%;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.centered-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.right-centered-box {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
    width: 100%;
}

.craft_option > div {
    flex-grow: 1;
}

.craft_option > .probability {
    flex-grow: 2;
    text-align: right;
}

.craft_option:hover {
    background: linear-gradient(0.25turn, rgba(238, 232, 170, 0.543), transparent);
}
.craft_option:hover > .goods-icon {
    color: black;
    font-weight: bold;
}

.craft_option:active{
    background: linear-gradient(0.25turn, rgba(172, 255, 47, 0.447), transparent);
}
.craft_option:active > .goods-icon {
    color: black;
    font-weight: bold;
}

.goods-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* padding: 10px; */
}

.small-square {
    width:30px;
    height:30px;
}
.fill_container {
    width: 100%;
    height: 100%;
}



#main_menu {
    position: absolute;
    width: 40%;
    left: 30%;
    top: 80%;
}

.main_menu_button {
    width: 100%;
    height: 30px;
    background-color: azure;
    text-align: center;
    margin-bottom: 10px;
}

.main_menu_button:hover {
    background-color: yellow;
}

.main_menu_button:active {
    background-color: aquamarine;
}


.active {
    background-color: rgba(165, 42, 42, 0.048);
}
.active:hover {
    background-color: yellow;
    color: black;
    border-color: blue;
    border-width: 2px;
}
.active:active {
    background-color: aquamarine;
    color: black;
    border-color: coral;
    border-width: 5px;
}

.background-solid {
    background-color: rgb(110, 29, 29);
}

.border-white {
    border: white 1px solid;
}

.border-round {
    border: ivory 1px solid;
    border-radius: 5px;
}

.margin-0020r {
    margin: 2%;
}

.margin-0010r {
    margin: 1%;
}

.margin-0001r {
    margin: 0.1%;
}

.padding-0002r {
    padding: 0.1%;
}

.padding-0010r {
    padding: 1%;
}

.padding-0020r {
    padding: 1%;
}

.padding-20px-vertical {
    padding-top: 20px;
    padding-bottom: 20px;
}


#notification_area {
    position: absolute;
    left: 30%;
    width: 40%;
    height: 100%;
}

#notification_area > div {
    position: relative;
    z-index: 99999;
    border: ivory 1px;
    width: 100%;
    height: 5%;
    background: antiquewhite;
    border-radius: 40px;
    padding: 20px;
    margin: 2%;
    align-content: center;
    text-align: center;
    position: absolute;
    font-size: large;
}

.notification {
    animation-duration: 3s;
    animation-name: notification-animation;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes notification-animation {
    from {
        top: -20%;
        opacity: 1;
    }

    30% {
        top: 25%;
        opacity: 1;
    }

    75% {
        top: 20%;
        opacity: 0.6;
    }

    to {
        top: 120%;
        opacity: 0;
    }
}

.highlighted {
    border: 1px solid yellow;
}

.text-red {
    color: crimson
}

.height-20rem {
    height: 20rem;
}

#sauce-wrapper {
    height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 24%;
    column-gap: 1em;
    row-gap: 1em;
}

#sauce-stash {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#sauce-craft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sauce-shop {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

#sauce-movement {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

#sauce-inventory {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#sauce-chat-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.sauce-box {
    margin: 5px;
    border: 1px solid rgb(193, 74, 15);
    border-radius: 5px;
    background-color: rgb(91, 23, 23);
}

#sauce_tab {
    background-color: transparent;
}