body {

    background-image: url(/static/img/background_1.png);
    background-repeat: repeat;
    font-family: "Arial", sans-serif;
    font-size: small;
    /* overflow: hidden; */
}

div {
    box-sizing: border-box;
}

.height-full {
    height: 100%;
}

.highlight {
    background-color: rgba(250, 235, 215, 0.505);
}

.hover:hover {
    background-color: yellow;
}

.press:active {
    background-color: rgba(172, 255, 47, 0.447)
}

.border-red {
    border: 4px solid crimson;
}

.border-green {
    border: 4px solid lime;
}

.border-yellow {
    border: 4px solid gold;
}

.border-red-thin {
    border: 1px solid crimson
}

.container-vertical {
    display: flex;
    flex-direction: column;
}

.container-vertical > div {
    width: 100%;
    min-width: 0;
    /* min-height: 0; */
}

.container-horizontal {
    display: flex;
    flex-direction: row;
}
.container-horizontal > div {
    height: 100%;
    /* min-width: 0; */
    min-height: 0;
}

.flex-1 {
    flex: 1
}

.flex-2 {
    flex: 2
}
.flex-3 {
    flex: 3
}

.scroll-y {
    overflow-y: scroll;
}

#bg_fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 33, .43);
}

#logout {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
}

#reset_tabs {
    position: absolute;
    top: 5px;
    left: 110px;
    width: 100px;
}

#base_background {
    position: absolute;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: rgb(0, 0, 33, .43);
}

#login_container {
    position: absolute;
    height: 380px;
    width: 420px;
    margin: auto;
    background: rgb(56, 56, 96, .36);
    z-index: 2;
    left: 50%;
    margin-left: -210px;
    margin-top: 5%; 
    box-shadow: 5px 10px rgb(56, 56, 70, .56);;
}
#login-frame > form > p, #reg-frame > form > p{
    width: 200px;
    position: relative;
    left: 50%;
    margin-left: -100px;
    margin-top: 20px;
    top: 20px;
}
#login-frame > form > p > input, #reg-frame > form > p > input{
    width: 200px;
}
#reg-frame, #login-frame {
    position: absolute;
    width: 100%;
    margin-top: 40px;
}
/* #reg-frame {
    visibility: hidden;
} */
#select_box > div {
    position: relative;
    height: 35px;
    line-height: 35px;
    width: 50%;
    background: rgb(134, 134, 134, .66);
    float: left;
    text-align: center;
}

#select_box > div:hover {
    background: rgb(166, 166, 166, .66);
}

#select_box > div.selected {
    background: rgb(166, 166, 166, .66);
}

#game_container {
    position: absolute;
    width: 1800px;
    height: 900px;
    margin-left: 50px;
    margin-top: 30px;
}

.game_scene {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#actual_game_scene {
    background-image: url(/static/img/bg_colony.png);
    background-position: center;
    background-repeat: no-repeat;
}

#login_scene {
    visibility: visible;
}



.game_frame {
    background: rgba(136, 62, 62, 0.527);;
    color: whitesmoke;
}


.movable > .corner:hover {
    background-color: yellow;
}

.close_tab {
    position: relative;
    top: 0%;
    right: 0%;
    width: 20px;
    height: 100px;

    background-image: url(/static/img/tab_buttons/close_tab_passive.png);
}

.close_tab:hover {
    background-image: url(/static/img/tab_buttons/close_tab_hover.png);
}
.close_tab:active {
    background-image: url(/static/img/tab_buttons/close_tab_active.png);
}

.display_none {
    display: none;
}


.movable > .corner {
    background-color: yellowgreen;
    width: 10px;
    height: 10px;
    z-index: 1;
}

.movable > .top {
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10px;
}

.movable > .bottom {
    position: absolute;
    bottom: 0%;
    right: 0%;
}






#desktop_actions {
    position: absolute;
    bottom: 0%;    
    left: 0%;
    height: auto;
    width: auto;
    padding: 5px;
    padding-bottom: 2px;
    background-color: rgba(78, 11, 11, 0.7);    
}

.desktop_action_button {
    padding: 4px;
    background-color: rgba(51, 7, 7, 0.7);
    margin-bottom: 3px;
    cursor: default;    
}

.desktop_action_button > div {
    display: inline-block;
}

#desktop_actions > div:hover {
    background: linear-gradient(177deg, rgba(110, 26, 26, 0.7) 0%, rgba(51, 7, 7, 0.7) 55%);
}

#desktop_actions > div:active {
    background: linear-gradient(rgb(163, 102, 102) 0%, rgba(51, 7, 7, 0.7) 15%);
}

.label_button {
    width: 8em;
}

.repeat_button { 
    margin-left: 8px;
}

.repeat_button:hover {
    background: linear-gradient(rgb(163, 102, 102, 1) 0%, rgba(51, 7, 7, 0.7) 50%);
}




.red {
    color: crimson;
}


.game_tab {
    position: absolute;
    left: 17%;
    top: 10%;
    width: 50%;
    height: 70%;
    background: rgba(91, 33, 33, 0.91);
    /* color: rgb(13, 228, 77); */
    color: whitesmoke;
}

.hidden {
    visibility: collapse;
    display: none;
}


.red-text {
    color: crimson;
}




#goods_stash {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

.overflow-y {
    overflow-y: scroll;
}

.goods_type_stash {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: white 1px solid;
    background-color: rgb(206, 156, 164);
    color: rgb(60, 7, 7);
    border-radius: 10px;
}

.goods_type_stash:hover {
    background-color: yellow;
}

.goods_type_stash:active {
    background-color: greenyellow;
}

.goods_type_stash > .goods_amount_in_inventory {
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.goods_type_stash > .tooltiptext {
    width: auto;
}

.stash_up {
    animation-duration: 1s;
    animation-name: stash_up_animation;
    animation-iteration-count: 1;
}

@keyframes stash_up_animation {
    from {
        background-color: greenyellow;
    }

    50% {
        background-color: lime;
    }

    to {
        background-color: rgb(206, 156, 164);
    }
}

.stash_down {
    animation-duration: 1s;
    animation-name: stash_down_animation;
    animation-iteration-count: 1;
}

@keyframes stash_down_animation {
    from {
        background-color: brown;
    }

    50% {
        background-color: red;
    }

    to {
        background-color: rgb(206, 156, 164);
    }
}

.craft_option {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.width-auto {
    width: auto;
}

.width-200 {
    width: 200px;
}

.width-175 {
    width: 175px;
}

.width-125 {
    width: 125px;
}

.width-100 {
    width: 100px;
}

.width-50 {
    width: 50px;
}

.width-25 {
    width: 25px;
}

.height-25 {
    height: 25px;
}

.height-50 {
    height: 50px;
}

.height-200 {
    height: 50px;
}

.height-auto {
    height: auto;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.craft_option > div {
    flex-grow: 1;
}

.craft_option > .probability {
    flex-grow: 2;
    text-align: right;
}

.craft_option:hover {
    background: linear-gradient(0.25turn, rgba(238, 232, 170, 0.543), transparent);
}
.craft_option:hover > .goods_icon {
    color: black;
    font-weight: bold;
}

.craft_option:active{
    background: linear-gradient(0.25turn, rgba(172, 255, 47, 0.447), transparent);
}
.craft_option:active > .goods_icon {
    color: black;
    font-weight: bold;
}

.goods_icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: initial;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* padding: 10px; */
}

.small_square {
    width:30px;
    height:30px;
}
.fill_container {
    width: 100%;
    height: 100%;
}



#main_menu {
    width: 40%;
    left: 30%;
    height: 50%;
    top: 40%;
}

.main_menu_button {
    width: 100%;
    height: 30px;
    background-color: azure;
    text-align: center;
    margin-bottom: 10px;
}

.main_menu_button:hover {
    background-color: yellow;
}

.main_menu_button:active {
    background-color: aquamarine;
}


.active {
    background-color: rgba(165, 42, 42, 0.048);
}
.active:hover {
    background-color: yellow;
    color: black;
}
.active:active {
    background-color: aquamarine;
    color: black;
}

.border-white {
    border: white 1px solid;
}



