#tab_list_frame {
    position: absolute;
    top:0%;
    right: 0%;
    height: auto;
    width: 37px;
}

#tab_list_frame > .control_button {
    top: 5px;
    position: relative;
    width: 33px;
    height: 33px;
    float: top;
    left: 3px;
}


.control_button {
    background-image: url(/static/img/attack_button.png);
    background-position: center;
    background-repeat: no-repeat;
}

.control_button:hover {
    background-image: url(/static/img/attack_button_hovered.png);
}

.control_button:active {
    background-image: url(/static/img/attack_button_pressed.png);
}

.control_button.active {
    background-image: url(/static/img/attack_button_pressed.png);
}


#character_button {
    background-image: url(/static/img/character_button.png);
}
#character_button:hover {
    background-image: url(/static/img/character_button_hovered.png);
}
#character_button:active {
    background-image: url(/static/img/character_button_pressed.png);
}
#character_button.active {
    background-image: url(/static/img/character_button_pressed.png);
}


#skilltree_button {
    background-image: url(/static/img/skills_button.png);
}
#skilltree_button:hover {
    background-image: url(/static/img/skills_button_hovered.png);
}
#skilltree_button:active {
    background-image: url(/static/img/skills_button_pressed.png);
}
#skilltree_button.active {
    background-image: url(/static/img/skills_button_pressed.png);
}


#market_button {
    background-image: url(/static/img/auc_button.png);
}
#market_button:hover {
    background-image: url(/static/img/auc_button_hovered.png);
}
#market_button:active {
    background-image: url(/static/img/auc_button_pressed.png);
}
#market_button.active {
    background-image: url(/static/img/auc_button_pressed.png);
}



#market_tab {
    width: 790px;
    height: 335px;
    left: 270px;
    top:10px;
}

#skilltree_tab {
    left: 8px;
    top: 280px;
    height: 485px;
    width: 237px;
}

#map_tab {
    left: 440px;
    top: 51%;
    width: 700px;
    height: 400px;
}

#battle_tab {
    left: 250px;
    top: 20px;
    width: 920px;
    height: 542px;
}

#stash_tab {
    top:0px;
    height: auto;
    width: auto;
}

#craft_tab {
    top: 200px;
    height:auto;
    width:auto;
}