#tab_list_frame {
    position: absolute;
    top:0%;
    right: 0%;
    height: auto;
    width: 72px;
}

#tab_list_frame > .control_button {
    top: 5px;
    position: relative;
    width: 66px;
    height: 66px;
    float: top;
    left: 3px;
}


.control_button {
    background-image: url(/static/img/tab_buttons/attack_button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.control_button:hover {
    background-image: url(/static/img/tab_buttons/attack_button_hovered.png);
}

.control_button:active {
    background-image: url(/static/img/tab_buttons/attack_button_pressed.png);
}

.control_button.active {
    background-image: url(/static/img/tab_buttons/attack_button_pressed.png);
}


#equip_button {
    background-image: url(/static/img/tab_buttons/character_button.png);
}
#equip_button:hover {
    background-image: url(/static/img/tab_buttons/character_button_hovered.png);
}
#equip_button:active {
    background-image: url(/static/img/tab_buttons/character_button_pressed.png);
}
#equip_button.active {
    background-image: url(/static/img/tab_buttons/character_button_pressed.png);
}

#equip_button {
    background-image: url(/static/img/tab_buttons/character_button.png);
}
#equip_button:hover {
    background-image: url(/static/img/tab_buttons/character_button_hovered.png);
}
#equip_button:active {
    background-image: url(/static/img/tab_buttons/character_button_pressed.png);
}
#equip_button.active {
    background-image: url(/static/img/tab_buttons/character_button_pressed.png);
}


#map_button {
    background-image: url(/static/img/tab_buttons/map_button.png);
}
#map_button:hover {
    background-image: url(/static/img/tab_buttons/map_button_hover.png);
}
#map_button:active {
    background-image: url(/static/img/tab_buttons/map_button_active.png);
}
#map_button.active {
    background-image: url(/static/img/tab_buttons/map_button_active.png);
}


#skilltree_button {
    background-image: url(/static/img/tab_buttons/skills_button.png);
}
#skilltree_button:hover {
    background-image: url(/static/img/tab_buttons/skills_button_hovered.png);
}
#skilltree_button:active {
    background-image: url(/static/img/tab_buttons/skills_button_pressed.png);
}
#skilltree_button.active {
    background-image: url(/static/img/tab_buttons/skills_button_pressed.png);
}


#market_button {
    background-image: url(/static/img/tab_buttons/auc_button.png);
}
#market_button:hover {
    background-image: url(/static/img/tab_buttons/auc_button_hovered.png);
}
#market_button:active {
    background-image: url(/static/img/tab_buttons/auc_button_pressed.png);
}
#market_button.active {
    background-image: url(/static/img/tab_buttons/auc_button_pressed.png);
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#market_tab {
    width: 790px;
    height: 335px;
    left: 270px;
    top: 200px;
}

#skilltree_tab {
    left: 1000px;
    top: 5px;
    height: 545px;
    width: 300px;
}

#map_tab {
    left: 280px;
    top: 150px;
    width: 700px;
    height: 400px;
}

#battle_tab {
    left: 250px;
    top: 20px;
    width: 920px;
    height: 542px;
}

#local_characters_tab {
    top: 150px;
    left: 10px;
    width: 250px;
    height: 400px;
    /* padding-top: 20px; */
}




#equip_tab {
    top: 5px;
    height: auto;
    left: 1310px;
    width: 430px;
}

#craft_tab {
    top: 5px;
    left: 830px;
    height:auto;
    width:auto;
}

#stash_tab {
    top: 5px;
    height: auto;
    width: auto;
}

.tab_label {
    top: 20px;
    padding-left: 20px;
}

#available_perks {
    top: 50px;
    left: 500px;
    height: 500px;
    width: 500px;
    z-index: 10;
}